<div id="<%= dom_id visit %>">
  <p>
    <strong>Note:</strong>
    <%= visit.note_id %>
  </p>

  <p>
    <strong>Volunteer:</strong>
    <%= visit.volunteer %>
  </p>

  <p>
    <strong>Arrived at:</strong>
    <%= visit.arrived_at %>
  </p>

  <p>
    <strong>Start at:</strong>
    <%= visit.start_at %>
  </p>

  <p>
    <strong>End at:</strong>
    <%= visit.end_at %>
  </p>

</div>
