<p style="color: green"><%= notice %></p>

<%= render @visit %>

<div>
  <%= link_to 'Edit this visit', edit_organization_visit_path(@org, @visit) %> |
  <%= link_to 'Back to visits', organization_visits_path(@org) %>

  <%= button_to 'Destroy this visit', organization_visit_path(@org, @visit), method: :delete %>
</div>
