<div id="<%= dom_id organization %>">
  <p>
    <strong>Name:</strong>
    <%= organization.name %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= organization.slug %>
  </p>

  <p>
    <strong>Timezone:</strong>
    <%= organization.timezone %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= organization.location %>
  </p>

</div>
