<p style="color: green"><%= notice %></p>

<%= render @org %>

<div>
  <%= link_to "Edit this organization", edit_organization_path(@org) %> |
  <%= link_to "Back to organizations", organizations_path %>

  <%= button_to "Destroy this organization", @org, method: :delete %>
</div>
